@tailwind base;

/* Firefox */
* {
  scrollbar-width: 10px;
  scrollbar-color: red;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgb(234, 141, 141);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color:  rgb(239, 116, 116);
  border-radius: 14px;
  border: 3px solid rgb(106, 27, 27);
}

::-webkit-scrollbar-thumb:hover {
  background-color:  rgb(178, 86, 86); /* color of the thumb on hover */
}

@tailwind components;
@tailwind utilities;